h1{
    color: lightseagreen
  }
  
  #top{
    text-align: center;
  }
  h2{
    text-align: center;
    color: lightseagreen;
  }
  h3{
    text-align: center;
    color: lightseagreen;
  }
  p{
    color: gray;
  }